body {
  background-color: #d9e4e3;

  display: grid;
  align-content: center;
  justify-content: center;
  row-gap: 20px;
}

.card {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

input::placeholder {
  font-size: 0.9rem;
}

button {
  font-weight: 600;
}